body {
    width: 1260px;
    border: 2px solid black;
    height: 545px;
}
/* Layout */
header {
    background-color: red;
    height: 45px;
}
section {
    background-color: aquamarine;
    margin-left: 1.59%; /* (20/1260) x 100 */
    width: 61.9%; /* (780/1260) x 100 */
    height: 400px;
    float: left; /* Flota a la izquierda para permitir que aside esté a su lado */
    padding: 0 0.79% 0 0.79%; /* (10/1260) x 100 */
}
aside {
    background-color: blueviolet;
    margin-left: 1.59%; /* (20/1260) x 100 */
    margin-right: 1.59%; /* (20/1260) x 100 */
    width: 26.98%; /* (340/1260) x 100 */
    height: 400px;
    float: left;
    padding: 0 2.38%; /* (30px/1260) x 100 */
}
footer {
    background-color: burlywood;
    height: 100px;
    clear: both; /* hace que se posicione debajo de los elementos flotantes */
}

/* 
    Calculo del ancho total 20px + 800px + 20px + 400px + 20px = 1260px 
*/

/* Barra de navegacion */
nav {
    padding-left: 0.79%; /* (10/1260) x 100 */
}
ul {
    /* Elimina márgenes y padding por defecto de las listas */
    margin: 0;
    padding: 0;
}
li {
    display: inline-block;
    width: 7.93%; /* (100/1260) x 100 */
}
a {
    text-decoration: none;
}
#enlaces {
    float: left;
}
#sesion {
    float: right;
}
#enlaces, #sesion {
    margin-top: 0.87%; /* (11/1260) x 100 */
}

/* Noticias */
section > p {
    margin-top: 2.38%; /* Los párrafos directos de section tienen 30px de margen superior */
}
section > form {
    margin-top: 4em;
    padding-left: 5.56%; /* (70/1260) x 100 */
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: cadetblue;
}
form > * { 
    margin: 1em 0; /* Todos los hijos directos del formulario tienen 1em de margen vertical (arriba y abajo) */
}
input[type="text"],
input[type="email"] {
    width: 38.89%;
    padding-left: 0.79%;
}

input[type="submit"] {
    width: 12.06%; /* (150/1260) x 100 */
    height: 2em;
    background-color: #d8d8d8;
}

/* Aside */
img {
    width: 11.90%;
    height: auto;
    margin-top: 3.97%;
}
